*{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #D24545;
    color: rgb(255, 241, 241);
}
.buttons-cont{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.btn1{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #FF9800;
    color: rgb(255, 241, 241);
    border-style: none;
}
.choices{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, auto);
}
.choice-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page{
    display: none; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
    text-align: center;
}